:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --font-outfit: 'Outfit', sans-serif;
    --font-young-serif: 'Young Serif', Serif; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-outfit);
    background-color: var(--stone-100);
    color: var(--stone-600);
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.recipe-card {
    background-color: var(--white);
    max-width: 736px;
    padding: 40px;
    border-radius: 24px;
}

.recipe-image {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 40px;
    display: block;
}

h1 {
    font-family: var(--font-young-serif);
    color: var(--stone-900);
    margin-bottom: 24px;
    font-size: 2.5rem;
}

h2 {
    font-family: var(--font-young-serif);
    color: var(--brown-800);
    margin-bottom: 24px;
}

p {
    line-height: 1.5;
    margin-bottom: 24px;
}

.prep-time {
    background-color: var(--rose-50);
    padding: 28px;
    border-radius: 12px;
    margin-bottom: 32px;
}

.prep-time h2 {
    color: var(--rose-800);
    margin-bottom: 16px;
    font-size: 1.25rem;
}

.prep-time ul,
.recipe-section ul,
.recipe-section ol {
    padding-left: 24px;
}

li {
    margin-bottom: 12px;
    padding-left: 16px;
}

li::marker {
    color: var(--brown-800);
    font-weight: bold;
}

.instructions-list li::marker {
    color: var(--brown-800);
    font-weight: bold;
}

.prep-time li::marker {
    color: var(--rose-800);
}

hr {
    border: 0;
    border-top: 1px solid var(--stone-150);
    margin: 32px 0;
}
.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table td {
    padding: 12px 24px;
    border-bottom: 1px solid var(--stone-150);
}

.nutrition-table tr:last-child td {
border-bottom: none;
}

.stat {
    color: var(--brown-800);
    font-weight: 700;
}

@media ( max-width: 600px){
    body {
    padding: 0;
}

.recipe-card {
    border-radius: 0;
    padding: 0 0 40px 0; 
}

.recipe-image {
    border-radius: 0;
}

.recipe-header, 
.recipe-section, 
.prep-time {
padding: 0 32px; 
}
}

